params {
    outdir = './results'
    exclude = 'decoy,random,chrUn,alt,chrEBV,chrM'
    freebayesoptions = '--pooled-continuous --pooled-discrete --genotype-qualities --report-genotype-likelihood-max --allele-balance-priors-off --min-alternate-fraction 0.03 --min-repeat-entropy 1 --min-alternate-count 2'
}

process {
    time = '12h'
    memory = 16.GB
    cpus = 1
    cache = 'lenient'
    errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
    withName: map_reads {
        time = '24h'
        container = "brwnj/bwa-nf:v0.0.0"
        cpus = 16
        memory = 120.GB
    }
    withName: mark_duplicates {
        container = 'broadinstitute/gatk:4.1.2.0'
        memory = 32.GB
    }
    withName: run_freebayes {
        container = 'brwnj/freebayes:v0.0.3'
    }
    withName: annotate_vcf {
        container = 'nfcore/sarekvep:dev.GRCh38'
        memory = 8.GB
    }
    withName: "merge_vcfs|merge_annotated_vcfs" {
        container = 'brwnj/freebayes:v0.0.3'
        cache = 'deep'
    }
}
