params {
    outdir = './results'
    // exclude = 'decoy,random,chrUn,alt,chrEBV,chrM'
    freebayesoptions = '--pooled-continuous --pooled-discrete --genotype-qualities --report-genotype-likelihood-max --allele-balance-priors-off --min-alternate-fraction 0.03 --min-repeat-entropy 1 --min-alternate-count 2'

    sexchroms = 'X,Y'
    exclude = "~^HLA,~^hs,~:,~^GL,~M,~EBV,~^NC,~^phix,~decoy,~random\$,~Un,~hap,~_alt\$"
    // preserves more variants from being filtered
    sensitive = true

    // covviz report
    // the point at which we determine a sample is an outlier from the group at any given point
    zthreshold = 3.5
    // when calculating significance, the Z-score has to be above the threshold for consecutive points up to the total distance set by distance threshold
    distancethreshold = 150000
    // slop is the distance to add to traces when plotting -- without slop, it's not always clear what happens to the points immediately flanking the area of significant deviation
    slop = 500000
    // show all traces when analyzing this few samples; ignores z-threshold, distance-threshold, and slop
    minsamples = 8
}

process {
    time = '12h'
    memory = 16.GB
    container = 'brwnj/preon:v0.0.5'
    cpus = 1
    cache = 'lenient'
    errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
    withName: map_reads {
        time = '24h'
        container = "brwnj/bwa-nf:v0.0.0"
        cpus = 32
        memory = 370.GB
    }
    withName: mark_duplicates {
        time = '24h'
        container = 'broadinstitute/gatk:4.1.8.1'
        memory = 370.GB
        cpus = 32
    }
    withName: run_freebayes {
        container = 'brwnj/freebayes:v0.0.3'
    }
    withName: annotate_vcf {
        container = 'nfcore/sarekvep:dev.GRCh38'
        memory = 8.GB
    }
    withName: "merge_vcfs|merge_annotated_vcfs" {
        container = 'brwnj/freebayes:v0.0.3'
        cache = 'deep'
    }
    withName: smoove_call {
        time = '24h'
        memory = { 8.GB * task.attempt }
    }
    withName: smoove_merge {
        memory = 16.GB
        cache = 'deep'
    }
    withName: smoove_genotype {
        memory = { 8.GB * task.attempt }
    }
    withName: smoove_square {
        memory = 64.GB
        cpus = 3
        cache = 'deep'
    }
    withName: run_indexcov {
        memory = 8.GB
        cache = 'deep'
    }
    withLabel: 'smoove' {
        container = 'brentp/smoove:v0.2.5'
    }
    withLabel: 'covviz' {
        container = 'brwnj/covviz:v1.3.0'
    }
    withLabel: 'upload' {
        container = 'brwnj/preon:v0.0.1'
    }
}
